<div class="header col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>diagnostico</h2>
		</div>
	</div>
</div>

<div class="main-search col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="container">
		<div class="buffer">
			<h1>Simple diagnostic tools, built for sysadmins</h1>
			<h2>Ping up your server</h2>
		</div>
		<div class="search-box buffer col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<input type="search" id="search-input" autocorrect="off" autocapitalize="off" placeholder="&#128270; Search"/>
		</div>
	</div>
</div>

<div class="sub-q hidden col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="container">
		<div id="results-q" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		</div>
	</div>
</div>

<div class="sub-d hidden col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="container">
		<div id="results-d" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		</div>
	</div>
</div>